.text {
    /* -fx-fill: white; */
    -fx-fill: black;
}
file:
.title1 {
	-fx-fill: #81cfe0;
	-fx-font-size: 30px;
}

.title2 {
	-fx-fill: #81cfe0;
	-fx-font-size: 25px;
}

.title3 {
	-fx-fill: #81cfe0;
	-fx-font-size: 20px;
}

.title4 {
	-fx-fill: #81cfe0;
	-fx-font-size: 15px;
}

.title5 {
	-fx-fill: #81cfe0;
	-fx-font-size: 12px;
}

.title6 {
	-fx-fill: #81cfe0;
	-fx-font-size: 10px;
}

.bold {
	/* -fx-fill: white; */
	-fx-fill: black;
	-fx-font-weight: bold;
}

.italic {
    /* -fx-fill: #ffffcc; */
    -fx-fill: #222222;
    -fx-font-style: italic;
}

.italicbold {
    /* -fx-fill: #fff9de; */
    -fx-fill: #222222;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.boldstrikethrough {
    /* -fx-fill: white; */
    -fx-fill: black;
    -fx-font-weight: bold;
    -fx-strikethrough: true;
}

.strikethrough {
    -fx-strikethrough: true;
}

.styled-text-area { 
    /* -fx-background-color: #222222;  /* this is black */ */
    /* -fx-background-color: #F5DEB3;  /* this is wheat*/ */
	-fx-background-color: #FFFFFF; /* this is white */
}

.lineno {
 	/* -fx-background-color: black; */
 	-fx-background-color: white;
}

.balise {
 -fx-fill: green;
}

.code {
 -fx-fill: #006400;
}

.blockcode {
 -fx-fill: #006400;
}